.hh {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 30px;
}

.count {
	padding: 20px;

	text-align: center;
}

.title {
	margin-bottom: 5px;

	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
}

.salary {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px 0;

	padding: 20px;

	text-align: center;
}

.salary > div {
	border-right: 1px solid var(--gray-light);
}

.salary > div:last-child {
	border-right: none;
}

.countValue {
	color: var(--primary);

	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
}

.salaryValue {
	margin-bottom: 5px;

	color: var(--black);

	font-size: 26px;
	font-weight: bold;
	line-height: 35px;
}

.rate {
	display: grid;
	grid-template-columns: repeat(3, 20px);
	gap: 5px;

	justify-content: center;
}

.filled circle {
	fill: var(--red);
}

@media screen and (max-width: 1200px) {
	.hh {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
	}
}

@media screen and (max-width: 640px) {
	.salary {
		grid-template-columns: 1fr;
	}

	.salary > div {
		padding-bottom: 20px;

		border-right: none;
		border-bottom: 1px solid var(--gray-light);
	}

	.salary > div:last-child {
		padding-bottom: 0;

		border-bottom: none;
	}
}
